In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")
# df = df.iloc[:, :].values

In [ ]:
fo = df.loc[df["owner"] == "First Owner" , :]
fo = fo.loc[fo["year"] >= 2005, :]
fo.sort_values(['year'])
fo = fo.iloc[:,:].values

In [ ]:
import numpy as np
km_per_year = np.empty(2793, dtype = int) 
for i in range (0, 2792):
  km_per_year[i] = fo[i, 2]/(2021 - fo[i, 0])
km_per_year

array([ 5000,  3571, 11111, ..., 18888, 18000,  4339])

In [ ]:
fo = pd.DataFrame(fo, columns = ['year', 'selling_price', 'km_driven', 'fuel', 'owner'])
fo['km/year'] = km_per_year
fo = fo.iloc[:,:].values

In [ ]:
resale = np.empty(2793, dtype = int)
for i in range (0, 2793) :
  if (fo[i, 0] > 2016) :
    resale[i] =  fo[i, 1] * (1 - (0.15*(2021-fo[i, 0]))) 
  else :
    resale[i] = fo[i, 1] * 0.4

In [ ]:
fo = pd.DataFrame(fo, columns = ['year', 'selling_price', 'km_driven', 'fuel', 'owner', 'km/year'])
fo['resale_value'] = resale

In [ ]:
fo = fo.loc[fo["selling_price"] >= 200000, :]
fo = fo.iloc[:,:].values

In [ ]:
petrol_cost_per_litre = np.array([43.6175, 50.9775, 46.3825, 48.68, 43.365, 50.9825, 66.6575, 76.79, 67.6175, 76.4225, 70.905, 64.5125, 69.585, 81.79, 73.04, 72.645])
diesel_cost_per_litre = np.array([35.2, 39.96, 34.94, 36.12, 34.45, 39.6, 45.84, 45.28, 57.17, 65.84, 59.86, 56.81, 60.47, 73.79, 67.3, 65.51])
CNG_cost_per_kg = np.array([18.38, 19.20, 20, 22.5, 24, 22, 30, 38, 50, 36, 43, 43, 40, 47, 48, 42])
fuel_cost = np.empty(2431, dtype = int)
miscellaneous_cost = np.empty(2431, dtype = int)
for i in range (0, 2431) :
  kms = fo[i, 5]
  miscellaneous_cost[i] = fo[i, 2]
  fuel_cost[i] = 0;
  if (fo[i, 3] == 'Petrol') :
    for j in range(fo[i, 0]+1, 2021) :
      fuel_cost[i] += kms / 18 * petrol_cost_per_litre[j-2005] 
  elif (fo[i, 3] == 'Diesel') :
    for j in range(fo[i, 0]+1, 2021) :
      fuel_cost[i] += kms / 24 * diesel_cost_per_litre[j-2005]
  elif (fo[i, 3] == 'CNG') :
    for j in range(fo[i, 0]+1, 2021) :
      fuel_cost[i] += kms /30 * CNG_cost_per_kg[j-2005]

In [ ]:
taxi_charges = np.empty(2431, dtype = int) 
for i in range (0, 2431) :
  if (fo[i, 0] > 2015) :
    taxi_charges[i] = fo[i, -2] * 12 * (2021-fo[i, 0])
  elif (fo[i, 0] > 2010) :
    taxi_charges[i] = fo[i, -2] * 15 * (2015-fo[i, 0]) + fo[i, -2] * 12 * 5
  elif (fo[i, 0] >= 2005) :
    taxi_charges[i] = fo[i, -2] * 10 * (2010- fo[i, 0]) + fo[i, -2] * 15 * 5 + fo[i, -2] * 12 * 5

In [ ]:
fo

array([[2012, 600000, 100000, ..., 'First Owner', 11111, 240000],
       [2017, 250000, 46000, ..., 'First Owner', 11500, 100000],
       [2016, 550000, 25000, ..., 'First Owner', 5000, 220000],
       ...,
       [2012, 600000, 170000, ..., 'First Owner', 18888, 240000],
       [2016, 865000, 90000, ..., 'First Owner', 18000, 346000],
       [2016, 225000, 40000, ..., 'First Owner', 4339, 90000]],
      dtype=object)

In [ ]:
fo = pd.DataFrame(fo, columns = ['year', 'selling_price', 'km_driven', 'fuel', 'owner', 'km/year', 'resale_value'])
fo['fuel_cost'] = fuel_cost
fo['miscellaneous_cost'] = miscellaneous_cost
fo['taxi_charges'] = taxi_charges

In [ ]:
fo = fo.iloc[:,:].values

In [ ]:
final_Y_N = np.empty(2431, dtype = object)
for i in range (0, 2431) :
  cost_of_owning = fo[i, 1] + fo[i, 7] + fo[i, 8] - fo[i, 6]
  if (cost_of_owning > fo[i, -1]) :
    final_Y_N[i] = 1
  else :
    final_Y_N[i] = 0

In [ ]:
fo = pd.DataFrame(fo, columns = ['year', 'selling_price', 'km_driven', 'fuel', 'owner', 'km/year', 'resale_value', 'fuel_cost', 'miscellaneous_cost', 'taxi_charges'])
fo['Rent/Own'] = final_Y_N
fo = pd.DataFrame(fo, columns = ['year', 'selling_price', 'km_driven', 'fuel', 'owner', 'km/year', 'resale_value', 'fuel_cost', 'miscellaneous_cost', 'taxi_charges', 'Rent/Own'])
fo.to_csv('Final_data.csv')